[Unit]
Description=Systemmonitoring via Home Assistant
After=network-online.target

[Service]
ExecStart=/opt/hass-sysmon/sysmon.sh
Restart=always

[Install]
WantedBy=multi-user.target
